```css id="6nmjlwm"
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Inter',sans-serif;
}

body{

  width:100%;
  height:100vh;

  overflow:hidden;

  background:
  linear-gradient(
    135deg,
    #f4f4f4,
    #ffe3e3
  );

}

.login-wrapper{

  width:100%;
  height:100vh;

  display:flex;
  justify-content:center;
  align-items:center;

}

.login-container{

  width:100%;
  max-width:450px;

  text-align:center;

}

.logo{

  width:120px;

  margin-bottom:20px;

  filter:
  drop-shadow(
    0 10px 20px rgba(255,0,0,.15)
  );

}

.brand-area h1{

  font-size:52px;
  font-weight:800;

  color:#1F2937;

}

.brand-area h3{

  color:#EF4444;

  font-size:18px;

  margin-top:10px;

}

.brand-area p{

  color:#64748B;

  margin-top:12px;

}

.login-card{

  margin-top:40px;

  background:white;

  padding:40px;

  border-radius:30px;

  box-shadow:
  0 10px 40px rgba(0,0,0,.08);

}

.form-group{

  text-align:left;

  margin-bottom:25px;

}

.form-group label{

  font-size:14px;
  font-weight:700;

  color:#475569;

  display:block;

  margin-bottom:10px;

}

select,
input{

  width:100%;

  height:58px;

  border:
  2px solid #E2E8F0;

  border-radius:18px;

  padding:0 18px;

  font-size:18px;

  background:#FAFAFA;

  color:#334155;

  outline:none;

}

select:focus,
input:focus{

  border-color:#EF4444;

}

.password-wrapper{

  position:relative;

}

.eye{

  position:absolute;

  right:20px;
  top:18px;

  cursor:pointer;

  font-size:18px;

}

.login-btn{

  width:100%;
  height:60px;

  border:none;

  border-radius:18px;

  background:
  linear-gradient(
    135deg,
    #ff3b30,
    #ef4444
  );

  color:white;

  font-size:20px;
  font-weight:700;

  cursor:pointer;

  transition:.3s;

  box-shadow:
  0 8px 20px rgba(239,68,68,.25);

}

.login-btn:hover{

  transform:translateY(-2px);

}

.footer-text{

  margin-top:30px;

  color:#94A3B8;

  font-size:12px;

  font-weight:700;

  letter-spacing:1px;

}

.fade{

  animation:fade .5s ease;

}

@keyframes fade{

  from{
    opacity:0;
    transform:translateY(20px);
  }

  to{
    opacity:1;
    transform:translateY(0);
  }

}

@media(max-width:768px){

  .login-container{

    padding:20px;

  }

  .brand-area h1{

    font-size:42px;

  }

  .login-card{

    padding:30px;

  }

}
```
